---
layout: default
title: Get Involved
section_id: get involved
---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Interested in being part of OSSOS?" tagline="We'd love to hear from you!" %}
      <div class='spacing'></div>
      <p>
        The OSSOS project is divided into <a href="http://www.cfeps.net/OSSOS/wp/home/science title=">topic teams</a> that are each responsible for ensuring that a particular aspect of the survey science is fully exploited. Each team has selected a team member to be the team's leader, who conveys information to and from the <a title="People" href="http://www.cfeps.net/OSSOS/wp/home/people/">wider collaboration</a> and is responsible for keeping the topic team focused and organised.
        If you'd like to be involved, are keen to collaborate, and have time to commit to helping in this area of exploration, read on!
      </p>
      {% include section-header.html tagline="To join an OSSOS science team" %}
      <p>
        <ol>
          <li>Prepare a small proposal: 1-2 paragraphs is all that's needed. Describe your participation and interests: tell us what you are interested in, and how you want to go about studying that. Tell us what telescopes you can get access to, and what time restrictions from other work and life you expect to have in the next year or so. Then email the proposal to both the <a title="People" href="http://www.cfeps.net/OSSOS/wp/home/people/">team leader</a> of the team you plan to join, and the <a href="mailto:ossoscore@gmail.com?subject=Joining OSSOS">Core team</a>. The team leader will then send your proposal to every member of that team. They all have to approve, to make sure that no one has science stolen from them or unexpected responsibility by adding new members: if there are multiple people working on the same thing, they all need to agree to work together.</li>
          <li>After the team leader has let you know that their team has unanimously approved your membership in the team, you then need to agree to the <a href="http://www.cfeps.net/OSSOS/wp/assets/OSSOSagreement.txt">membership terms</a>. Please read this! It is a simple set of rules making sure that no one has their science taken or toes stepped on during publication. Send an acceptance email to both your team leader and Core.</li>
          <li>Finally, get access to the <a href="https://wiki.cadc.hia.nrc.gc.ca/ossos/index.php/Main_Page">collaboration wiki</a>. <a href="http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/auth/request.html">Get a CADC account</a> (free, easy, and useful!) and once it's activated (takes a day or so), send an email to Core with your CADC account ID, requesting wiki access. Core will then add you to the members list on the wiki, with your science interests, and to the collaboration email lists.</li>
        </ol>
      </p>
      <p>
        This puts everyone on the same footing and makes sure that everyone has seen all the necessary information. If you wish one of your colleagues to join, they must go through the same process.
        If you have any questions, please <a href="mailto:ossoscore@gmail.com?subject=Joining OSSOS">feel free to ask</a>!
      </p>
    </div>
  </div>
</div>

