---
layout: default
section_id: home
slides:
  - bg: images/cfht/sunrise_cfht_crop.jpg
    small_title:
      klass: bottom-to-top
      text: welcome to the outer solar system
    title:
      klass: bottom-to-top
      text: origins survey
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: about.html
  - bg: images/cfht/maunaloa_crop.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: discovering hundreds of new objects
    title:
      klass: bottom-to-top
      text: beyond neptune
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: Data and Orbits
          link_to: tnodb.html
        - text: Publications
          link_to: publications.html
  - bg: images/cfht/cfht_night.jpg
    small_title:
      klass: bottom-to-top
      text: learning how our solar system once was
    title:
      klass: bottom-to-top
      text: sculpted by giant planets
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: science.html



works:
  - image: images/@stock/work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development


services:
  - icon: heartbeat
    title: Dense, tracked, observing
    desc: We observe our target areas of sky every new moon. Even objects as distant as Pluto still move across the sky - just very slowly. We retarget the areas of sky that we observe at that slow rate, allowing us to keep close track of the objects we discover.
  - icon: magic
    title: Precision astrometry
    desc: Observing the same sky often means that we can merge the many images - making a mosaic in which we very accurately locate the stars. Measuring where the moving objects are on the sky relative to such a good reference catalogue lets us determine very precisely where each icy world is in space.
  - icon: diamond
    title: Exquisite orbits
    desc: Cadence and astrometry together let us accurately determine the orbits of these distant worlds in only two years of observing, less than 1% of the time it takes them to orbit the Sun. We can then classify if they are in resonances with Neptune.
  - icon: cogs
    title: Survey simulator
    desc: Guided by Neptune's gravity, when resonant Kuiper belt objects come closest to the Sun, they clump on the sky. The simulator removes the bias created by where and how we look at the sky.

milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Survey' desc='The highest-priority Large Program on the Canada-France-Hawaii Telescope in 2013-16, OSSOS discovers distant moving objects with wide-field optical imaging.' icon_class='fa fa-camera' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Science' desc='OSSOS explores the resonant populations of the Kuiper belt, so we can test models of how the Solar System evolved.' icon_class='fa fa-flask' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Discoveries' desc='All OSSOS icy worlds are available in a public catalogue that lists their orbits, brightness and location on the sky.' icon_class='fa fa-star-half-full' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='People' desc='OSSOS is an international collaboration, involving 40+ scientists at institutes in Canada, France, the US, Taiwan and more.' icon_class='fa fa-users' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<!--<div class="spacing"></div>-->

<!--<div class="full" style="background: #f5f5f5;">-->
  <!--<div class="row">-->
    <!--<div class="large-12 columns">-->
      <!--{% include section-header.html title="Our works" %}-->
      <!--<div class="spacing"></div>-->
      <!--<p>-->
        <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.-->
      <!--</p>-->
      <!--<div class="three spacing"></div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="mod modGallery">-->
    <!--<ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">-->
      <!--{% for work in page.works %}-->
        <!--<li class="{{ work.klass }}">-->
          <!--<a href='{{ work.link_to }}'>-->
            <!--<img alt="" src="{{ work.image }}" />-->
            <!--<div class='overlay'>-->
              <!--<div class='thumb-info'>-->
                <!--<h3>{{ work.title }}</h3>-->
                <!--<p>{{ work.desc }}</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
      <!--{% endfor %}-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Mysteries beyond Neptune" %}
      <div class='spacing'></div>
      <p>
        The outer Solar System remains relatively unexplored. What lies beyond the orbit of Neptune? How many icy worlds are out there? Are they orbiting where they formed, or have their orbits changed? If they were scattered to where we see them today, how and when did this happen? OSSOS aims to help answer these - and many other questions.<br> To do this, we're discovering a large number of trans-Neptunian objects, with sophisticated techniques that allow us to measure and remove a number of biases introduced by the act of surveying.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/cfht/CFHT.jpg" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<!--<div class='full parallax' style='background-image: url(images/@stock/milestone-bg.jpg); color: #fff;'>-->
  <!--<div class='row'>-->
    <!--<div class='large-12 columns'>-->
      <!--{% include section-header.html title="Parallax effect" color="#fff" %}-->
      <!--<div class='spacing'></div>-->
      <!--<p class='centered-text' style='color: #ccc;'>-->
        <!--Dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.-->
      <!--</p>-->
      <!--<div class='two spacing'></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class='row'>-->
    <!--{% for milestone in page.milestones %}-->
      <!--<div class='medium-3 large-3 columns'>-->
        <!--<div class='mod modMilestone'>-->
          <!--<i class='fa fa-{{milestone.icon}}'></i>-->
          <!--<strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>-->
          <!--<span>{{milestone.title}}</span>-->
          <!--<div class='four spacing'></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--{% endfor %}-->
  <!--</div>-->
  <!--<div class='two spacing'></div>-->
<!--</div>-->

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        The team who run the observing, object discovery and orbit calculation are in British Columbia, Canada,
        Besancǫn, France, Tucson, US, and Taipei, Taiwan.

        The multiple teams who are working to understand different aspects of the discoveries are similarly international.
        You can find out more about their activities <a href="collaboration.html">here</a>.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='row'>
    {% for member in site.data.members2 %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What's new at OSSOS" %}
      <div class='spacing'></div>
      <p>
        The Canada-France-Hawaii Telescope observes for us every new moon. There's always more data arriving, or more discoveries being made!
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>


<!--{% include our-customers.html %}-->


<!--<div class='full no-padding' style='background: #fff'>-->
  <!--<div class='two spacing'></div>-->
  <!--<div class='mod modCallToAction'>-->
    <!--<div class='row'>-->
      <!--<div class='medium-9 large-9 columns'>-->
        <!--<p>Like what you see here? Checkout this theme and start to build your site immediately.</p>-->
      <!--</div>-->
      <!--<div class='medium-3 large-3 columns'>-->
        <!--<a class='button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class='spacing'></div>-->
<!--</div>-->
