---
layout: default
title: People
section_id: people
---

<div class='full parallax' style='background-image: url(images/people/Beaune_crop.jpg); color: #fff;'
     xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="People" color="#fff" tagline="the OSSOS collaboration" class="big" %}
    </div>
  </div>
</div>
<div class='spacing'></div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      <p>
        The OSSOS collaboration has a core team and a set of topic teams, each with a team leader. The core team programs observations, reduces the acquired data, discovers new objects, and provides the topic teams with the detected objects and a survey simulator. For some topic teams, the data from Core are all they need; for other topic teams, additional telescope time at other facilities is required.
      </p>
    </div>
    <div class='spacing'></div>
  </div>
</div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      <table>
        <tr>
          <td colspan="3">
            {% include section-header.html title="Core" tagline="observing, discoveries, orbits, simulator" %}
          </td>
        </tr>
        {% include core.html %}
        <tr>
          <td colspan="3">
            {% include section-header.html title="Collaboration" tagline="science of the discoveries" %}
          </td>
        </tr>
        {% include collab.html %}
      </table>
    </div>
  </div>
</div>
