---
layout: default
title: Publications
section_id: data
---

<div class='full parallax' style='background-image: url(images/cfht/maunaloa_crop.jpg); color: #fff;'
     xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Publications" color="#fff" tagline="technical details" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='spacing'></div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" %}
      <div class='spacing'></div>
      <div>
        <ul>


        </ul>
      </div>
    </div>
  </div>
</div>



<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Conference presentations and proceedings" %}
      <div class='spacing'></div>
      <div>
        <ul>
          <li>
            <em>OSSOS: the new era of precision planetary cosmogony</em>.
            Bannister, M. T., Kavelaars, J.J., Gladman, B., Petit, J.M., and the OSSOS Collaboration.
            Poster 414.10 at DPS, 2013.
            {% include figure.html src="images/presentations/DPS_OSSOS_poster_2013_lowres.jpg" %}
          </li>
          <li>
            <em><a href="http://aspbooks.org/custom/publications/paper/475-0243.html">
              The Outer Solar System Origins Survey: VO and Software Perspective</a></em>.
            Kavelaars, JJ. 475:243, Astronomical Data Analysis Software and Systems XXII. 2013.
          </li>
          </ul>
      </div>
    </div>
  </div>
</div>

