---
layout: default
title: Publications
section_id: data
---

<div class='full parallax' style='background-image: url(images/cfht/maunaloa_crop.jpg); color: #fff;'
     xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Publications" color="#fff" tagline="technical details" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='spacing'></div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" %}
      <div class='spacing'></div>
      <div>
        <ul>
          <li>
            <em>The Outer Solar System Origins Survey: I. Design and first-quarter discoveries.</em>
            M. T. Bannister, J.J. Kavelaars, J.-M. Petit, B. J. Gladman, S. Gwyn, K. Volk, Y.-T. Chen, M. Alexandersen,
and the OSSOS Collaboration. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152...70B/abstract">AJ, 152, 70, 2016.</a></em>
          </li>
          <li>
            <em>OSSOS II. A sharp transition in the absolute magnitude distribution of the Kuiper belt’s scattering population.</em>
            C. Shankman, J.J. Kavelaars, B. J. Gladman, M. Alexandersen, N. Kaib, J.-M. Petit, M. T. Bannister, Y.-T.
Chen, S. Gwyn, M. Jakubik, K. Volk. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....151...31S/abstract"></a>AJ,  151, 31, 2016.</em>
          </li>
          <li>
            <em>OSSOS III - Resonant Trans-Neptunian Populations: Constraints from the first quarter of the Outer Solar System
Origins Survey.</em>
            K. Volk, R. Murray-Clay, B. J. Gladman, S. Lawler, M. T. Bannister, J. J. Kavelaars, J.-M. Petit, S. Gwyn, M.
Alexandersen, Y.-T. Chen, P. S. Lykawka, W. Ip, H. W. Lin. <em><a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152...23V/abstract">AJ, 152, 23, 2016.</a></em>
          </li>
          <li>
            <em>OSSOS IV - Discovery of a Dwarf Planet Candidate in the 9:2 Resonance with Neptune.</em>
             <em>M. T. Bannister, et al. <a href="https://ui.adsabs.harvard.edu/#abs/2016AJ....152..212B/abstract">AJ, 152, 212, 2016.</a></em>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Conference presentations and proceedings" %}
      <div class='spacing'></div>
      <div>
        <ul>
          <li>
            <em>OSSOS: the new era of precision planetary cosmogony</em>.
            Bannister, M. T., Kavelaars, J.J., Gladman, B., Petit, J.M., and the OSSOS Collaboration.
            Poster 414.10 at DPS, 2013.
            {% include figure.html src="images/presentations/DPS_OSSOS_poster_2013_lowres.jpg" %}
          </li>
          <li>
            <em><a href="http://aspbooks.org/custom/publications/paper/475-0243.html">
              The Outer Solar System Origins Survey: VO and Software Perspective</a></em>.
            Kavelaars, JJ. 475:243, Astronomical Data Analysis Software and Systems XXII. 2013.
          </li>
          </ul>
      </div>
    </div>
  </div>
</div>

