---
layout: default
title: Science
section_id: Science
---

<div class='full parallax' style='background-image: url(images/cfht/maunaloa_crop.jpg); color: #fff;'
     xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Science" color="#fff" tagline="understanding the outer Solar System" class="big" %}
      <div class='four spacing'></div>
    </div>
  </div>
</div>

<div class='full.no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class="spacing"></div>
      <p>
        The discoveries OSSOS makes can be used to understand many different aspects of the outer Solar System.
        Our research focusses both on the physical properties of the objects and on what can be understood
        from where they orbit.
      </p>
      {% include section-header.html title="Resonances" %}
      <p>
        Using resonant KBOs discovered by OSSOS to test theoretical models of the dynamical sculpting of the outer solar system.
        Constrain contributions to the resonant population from:
          planetesimal-driven migration
          chaotic capture/damping of an eccentric Neptune
          scattering + temporary resonance sticking
        Measure the de-biased relative populations of different resonances
        Measure the internal dynamical structure of resonances
        Convert dynamical theories of Kuiper belt sculpting into observational diagnostics and apply them to OSSOS data
      </p>
      {% include section-header.html title="Binaries" %}
      <p>
        identify TNOs which have widely-separated satellites or binary companions,
        as well as identify a subset of TNOs which merit high angular-resolution follow up observations
        to identify tighter companions.
        Increase the sample of known wide binaries in the Cold Classical Kuiper Belt by
        perhaps a factor of two, refine the mutual orbit distribution of this population.
        Limit the fraction of wide binaries in the resonant populations, especially at low inclination.
        Perform high angular-resolution observations of a carefully selected subset of the OSSOS objects
        to identify or refine trends of binarity with (a) binary separation (b) primary radius
        (or as a proxy, H magnitude) and (c) dynamical class.
      </p>
      {% include section-header.html title="Surfaces" %}
      <p>


      </p>
      {% include section-header.html title="Light curves" %}
      <p>


      </p>
      {% include section-header.html title="Scattering objects" %}
      <p>


      </p>
      {% include section-header.html title="Occultations" %}
      <p>


      </p>
      {% include section-header.html title="Classical Belt" %}
      <p>


      </p>
      {% include section-header.html title="Cometary Activity" %}
      <p>


      </p>
      {% include section-header.html title="Catalogues" %}
      <p>


      </p>
      {% include section-header.html title="Nearby objects" %}
      <p>


      </p>
      {% include section-header.html title="Thermal modelling" %}
      <p>


      </p>
    </div>
  </div>
</div>

